@CHARSET "ISO-8859-1";

#simplemodal-overlay {
  background-color: #ffffff;
}

#simplemodal-container {
  border: 5px solid #2274AE ;
  /*
  opacity: .4;
  filter: alpha(opacity=40);
  background-color: transparent !important;
  */
}

#modalclose {
  float: left;
  padding-right: 4px;
  padding-top: 8px;
  text-align: right;
  width: 60px;
}

#modaltitle {
  float: left;
  text-align: left;
  padding-left: 4px;
  padding-top: 4px;
  font: 13px Arial;
  color: #ffffff;
}

#modaltop {
  height: 25px;
  border-bottom: 2px solid #2274AE;
  background-color: #2274AE;
}