<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#quadrante * table {
    border-collapse: collapse;
    border-spacing: 0;
}

#quadrante * a:focus {
    outline: thin dotted;
}

#quadrante * a:active, #quadrante * a:hover {
    outline: 0;
}

#quadrante {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 100px;
  padding: 0;
  width: 600px;
  border-collapse: collapse;
  border-spacing: 0;
}

#quadrante table.abscissa {
  margin: 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

#quadrante table.abscissa thead tr {
  height: 34px;
}

#quadrante table.abscissa thead th {
  text-align: center;
  text-transform: uppercase;
  font-family: 'arial';
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  width: 10.7%;
}

#mapa {
  position: relative;
  margin: 0;
  width: 100%;
}

#mapa #mapa-imagem {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1 !important;
}

#mapa #mapa-imagem img {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
}

#mapa table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}


#mapa table tbody tr:first-child td {
  border-top: 2px solid #0c0f11;
}

#mapa table tbody td {
  font-family: 'arial';
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #999;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 10.7%;
  border-right: 2px solid #0c0f11;
  border-bottom: 2px solid #0c0f11;
  z-index: 1000;
}


#mapa table tbody td div {
  position: relative;
}

#mapa table tbody td:first-child {
  border-left: 2px solid #0c0f11;
}

#mapa table tbody td:first-child div p {
  font-family: 'arial';
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  position: relative;
  left: -1%;
}

#mapa table tbody td p {
  margin: 0;
  padding: 0;
  background: url(../img/mapa-mask.png);
  text-indent: -30em;
  overflow: hidden;
}

#mapa table tbody td a, #mapa table tbody td div a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #333333;
  text-indent: -30em;
  overflow: hidden;
  height: 50px;
  position: relative;
}

#mapa table tbody td a:hover,#mapa table tbody td div a:hover {
  text-indent: 0;
  background: url(../img/mapa-mask2.png);
}

#mapa table tbody tr td p.ordenada {
  position: absolute;
  top: 0;
  left: -20px;
  text-indent: 0;
  background: none;
  font-family: 'opensansregular';
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}